/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */

:root {
  --top-distance: 40px;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #333;
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

.no-outline {
  outline: none;
}

.cursor {
  cursor: pointer;
}

button {
  color: #333;
  border: none;
  border-radius: 5px;
  background: palevioletred;
  transition: all 0.2s ease-in;
  font-size: 1em;
}

button:hover {
  transform: scale(.9);
  opacity: 0.8;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  line-height: var(--top-distance);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ddd;
}

.selector {
  margin: 0 5px 0 5px;
}

/* dropdown, search */
.input {
  border: none;
  width: 500px;
  background: transparent;
  font-size: 0.9rem;
  color: palevioletred;
  width: 120px;
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 1em;
}

/* style the option tabs on the selects elements */
option {
  font-size: 0.9rem;
  background: #ddd;
  color: palevioletred;
}

#search {
  width: 150px;
}

/* input search = type name of anime */
#search::placeholder {
  color: palevioletred;
}

/* buttons for the icons on the navbar */
.icon {
  line-height: 25px;
  width: 30px;
  text-align: center;
  margin-left: 7px;
}

.icon i {
  width: 100%;
  height: 100%;
}

@media(max-width: 610px) {
  .navbar {
    justify-content: center;
  }

  .selector-sort  {
     display: none;
  }
}

/* ANIME PAGE */
.anime-page {
  position: relative;
  top: var(--top-distance);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: left;
  display: none;
  opacity: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.img-favBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anime-page img {
  border: 2px solid palevioletred;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #333, -5px -5px 20px #333;
  margin: 1rem;
}

.favBtn {
  padding: 0px 5px 0px 0;
  width: 90%;
  position: relative;
  line-height: 40px;
  font-size: .9em;
} 

.favBtn i {
  margin-right: 5px;
  width: 40px;
  line-height: 40px;
  color: palevioletred;
  background: #333;
  border-radius: 5px 0 0 5px;
  float: left;
}

/* Close btn */
.anime-page .icon {
  position: absolute;
  right: 4px;
  top: 5px;
  font-size: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 1rem;
}

.info h2 {
  color: palevioletred;
  font-size: 2em;
  margin-bottom: 10px;
}

.details {
  font-size: 1em;
  font-weight: bold;
}

.details span {
  color: palevioletred;
}

.desc {
  margin-top: 30px;
  font-size: 1em;
}

@media(max-width: 740px) {
  .anime-page {
    flex-direction: column;
    text-align: center;
  }

  .anime-page .icon {
    right: 5px;
  }

  .info {
    margin: 1rem;
  }
}

/* ANIMES CONTAINER */
.animes-container {
  position: relative;
  top: calc(var(--top-distance) + 5px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

.anime {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  width: 170px;
  height: 250px;
}

.imgCover {
  width: 160px;
  height: 200px;
  position: absolute;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.imgCover:hover {
  background: #333;
  opacity: 0.5;
}

.anime img {
  width: 160px;
  height: 200px;
}

.anime p {
  margin-top: 3px;
  cursor: default;
  font-size: 0.85rem;
  width: 170px;
  height: 50px;
  overflow: hidden;
}

.anime-fav-page {
  overflow: hidden;
}

/* LAST BUTTON */
.show-more {
  position: relative;
  padding: 10px 20px;
  margin: 50px 0 5px;
}

.active {
  display: flex;
  opacity: 1;
}

.hide {
  display: none;
  opacity: 0;
}
